/* Colors */
.audio-player {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 10px 20px;
  border-radius: 13px; }
  .audio-player .header {
    display: flex;
    flex-direction: row-reverse; }
    .audio-player .header button {
      background-color: transparent;
      width: 32px;
      height: 32px;
      border: none;
      background-color: transparent; }
      .audio-player .header button img {
        width: 100%;
        margin: auto; }
  .audio-player .timer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0; }
    .audio-player .timer > div {
      align-self: center; }
    .audio-player .timer .progress-bar {
      margin: 0 24px;
      width: 100%;
      height: 22px; }
      .audio-player .timer .progress-bar > div {
        margin: auto;
        width: 100%;
        position: relative;
        display: flex; }
        .audio-player .timer .progress-bar > div .progress-indicator {
          -webkit-appearance: none;
          appearance: none;
          background-color: #D3D3D3;
          align-self: center;
          margin: auto;
          border-radius: 3px;
          width: 100%;
          height: 3px; }
        .audio-player .timer .progress-bar > div .progress-indicator::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
          cursor: pointer;
          opacity: 1;
          transition: all .1s;
          background-color: #606C38;
          align-self: center; }
        .audio-player .timer .progress-bar > div .progress-indicator::-webkit-slider-thumb:hover {
          background-color: #DDA15E; }
        .audio-player .timer .progress-bar > div .progress-indicator:hover::-webkit-slider-thumb {
          background-color: #283618; }
        .audio-player .timer .progress-bar > div .progress-indicator::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: #606C38;
          color: #606C38; }
        .audio-player .timer .progress-bar > div .progress-indicator::-moz-range-thumb {
          -moz-appearance: none;
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
          cursor: pointer;
          opacity: 1;
          transition: all .1s;
          background-color: #606C38;
          align-self: center;
          border: none; }
        .audio-player .timer .progress-bar > div .progress-indicator:hover::-moz-range-thumb {
          background-color: #283618; }
        .audio-player .timer .progress-bar > div .progress-indicator::-moz-range-thumb:hover {
          background-color: #DDA15E; }
        .audio-player .timer .progress-bar > div .progress-indicator::-moz-range-progress {
          background-color: #606C38;
          border-radius: 3px; }
        .audio-player .timer .progress-bar > div .progress-indicator::-moz-range-track {
          background-color: #D3D3D3;
          border-radius: 3px; }
        .audio-player .timer .progress-bar > div .progress-indicator::-ms-thumb {
          -ms-appearance: none;
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
          cursor: pointer;
          opacity: 1;
          transition: all .1s;
          background-color: #606C38;
          align-self: center;
          border: none; }
        .audio-player .timer .progress-bar > div .progress-indicator::-ms-thumb:hover {
          background-color: #DDA15E; }
        .audio-player .timer .progress-bar > div .progress-indicator::-ms-fill-lower {
          background-color: #606C38;
          border-radius: 3px; }
        .audio-player .timer .progress-bar > div .progress-bar::-ms-fill-upper {
          background-color: #D3D3D3;
          border-radius: 3px; }
      .audio-player .timer .progress-bar > div:hover .progress-indicator::-webkit-slider-thumb {
        background-color: #DDA15E; }
      .audio-player .timer .progress-bar > div:hover .progress-indicator::-moz-range-thumb {
        background-color: #DDA15E; }
      .audio-player .timer .progress-bar > div:hover .progress-indicator::-moz-range-progress {
        background-color: #DDA15E; }
      .audio-player .timer .progress-bar > div:hover .progress-indicator::-ms-thumb {
        background-color: #DDA15E; }
      .audio-player .timer .progress-bar > div:hover .progress-indicator::-ms-fill-lower {
        background-color: #DDA15E; }
  .audio-player .actions-bar {
    display: flex;
    flex-direction: row;
    margin: auto; }
    .audio-player .actions-bar button {
      width: 34px;
      height: 34px;
      align-self: center;
      background-color: transparent;
      border: none; }
      .audio-player .actions-bar button img {
        width: 100%;
        margin: auto; }
    .audio-player .actions-bar .playing-buttons {
      margin: 0 20px; }
      .audio-player .actions-bar .playing-buttons .play-button {
        width: 54px;
        height: 54px;
        margin: 0 10px; }
    .audio-player .actions-bar .playing-speed {
      font-size: 20px;
      color: #606C38;
      font-weight: 400; }
  .audio-player button:hover {
    border: 2px solid #606C38; }
  .audio-player .playing-speed:hover {
    font-weight: 500;
    border: none; }

/*# sourceMappingURL=audio_player.css.map */
