/* Colors */
.datime-picker {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #E5E5E5;
  padding: 8px 11px;
  border-radius: 8px; }
  .datime-picker > input {
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    font-size: 12px;
    padding: 0; }
  .datime-picker .date-field {
    flex-shrink: 3;
    margin-right: 4px; }
  .datime-picker .time-field {
    flex-shrink: 4; }
  .datime-picker > button {
    align-self: center;
    border: none;
    background-color: transparent;
    font-size: 12px;
    width: 34px;
    height: auto;
    opacity: 0.7; }
    .datime-picker > button img {
      width: 100%;
      font-size: 10px; }
  .datime-picker > button:last-child {
    margin-right: 0; }
  .datime-picker > button:hover {
    opacity: 1; }

.datetime-picker-displayer {
  display: flex;
  flex-direction: column;
  position: relative; }
  .datetime-picker-displayer .date-picker {
    width: 0;
    height: 0;
    visibility: collapse; }
  .datetime-picker-displayer .time-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    border-radius: 8px;
    z-index: 2;
    position: absolute;
    display: none; }
    .datetime-picker-displayer .time-picker > div:first-child {
      margin-right: 3px; }
    .datetime-picker-displayer .time-picker .hour-picker {
      border-radius: 0 0 0 8px; }
      .datetime-picker-displayer .time-picker .hour-picker span {
        border-radius: 8px 0 0 0; }
      .datetime-picker-displayer .time-picker .hour-picker ul {
        border-radius: 0 0 0 8px; }
    .datetime-picker-displayer .time-picker .minute-picker {
      border-radius: 0 0 8px 0; }
      .datetime-picker-displayer .time-picker .minute-picker span {
        border-radius: 0 8px 0 0; }
      .datetime-picker-displayer .time-picker .minute-picker ul {
        border-radius: 0 0 8px 0; }
    .datetime-picker-displayer .time-picker > div {
      cursor: default; }
      .datetime-picker-displayer .time-picker > div span {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        background-color: #606C38;
        color: #FEFAE0;
        width: 100%;
        text-align: center;
        padding: 10px 0; }
      .datetime-picker-displayer .time-picker > div ul {
        width: 72px;
        max-height: 200px;
        overflow-y: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        background-color: #F2F2F2;
        cursor: pointer; }
        .datetime-picker-displayer .time-picker > div ul li {
          padding: 0;
          list-style: none;
          display: block; }
          .datetime-picker-displayer .time-picker > div ul li a {
            font-size: 14px;
            display: block;
            text-decoration: none;
            padding: 10px;
            text-align: center;
            color: #000; }
          .datetime-picker-displayer .time-picker > div ul li a:hover {
            font-size: 18px;
            font-weight: 500;
            background-color: #DDA15E;
            color: #283618; }

/*# sourceMappingURL=datetime_picker.css.map */
