<div class="article-editor">
    <div class="tools-bar">
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-style", items=text_styles, 
                default_value=_(f"Text Body"), placeholder=_(f"Select a font size"), 
                alt=_(''), title=_("Select a font size")
            ) 
        %}
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-font-size", items=font_sizes,
                default_value=f"12 pt", placeholder=_("Select a font size"), 
                alt=_(''), title=_("Select a font size") 
            ) 
        %}
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-font-weight", items=font_weights,
                default_value="Regular", placeholder=_("Select a weight"), 
                alt=_(''), title=_("Select a font size")
            ) 
        %}
        <div class="separator"></div>
        <div class="buttons-of-style">
            {% for detail in buttons_of_style_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-style-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-text-alignment">
            {% for detail in buttons_of_text_alignment_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-text-alignment-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-blocks">
            {% for detail in buttons_of_blocks_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-block-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-media">
            {% for detail in buttons_of_media_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-media-") %}
            {% end %}
        </div>
    </div>
    <div class="content">
        {% module TextWriter(article_content='') %}
    </div>
</div>