<div class="article-editor">
    <div class="tools-bar">
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-style", items=[], 
                default_value=_("Text Body"), placeholder=_("Select a font size"), 
                alt=_(''), title=_("Select a font size")
            ) 
        %}
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-font-size", items=[
                                                                        "6 pt", "7pt", "8 pt", "9 pt",
                                                                        "10 pt", "10.5 pt", "11pt", "12 pt",
                                                                        "13 pt", "14 pt", "15 pt", "16 pt",
                                                                        "18 pt", "20 pt", "21 pt", "22 pt",
                                                                        "24 pt", "26 pt", "28 pt", "32 pt",
                                                                        "36 pt", "40 pt", "42 pt", "44 pt",
                                                                        "48 pt", "54 pt", "60 pt", "66pt",
                                                                        "72 pt", "80 pt", "88 pt", "96 pt"
                                                                    ],
                default_value="12 pt", placeholder=_("Select a font size"), 
                alt=_(''), title=_("Select a font size") 
            ) 
        %}
        {% 
            module EditableDropDownButton(
                key="editable-dropdown-button-text-font-weight", items=[
                                                                        "light", "regular", "medium", "bold", 
                                                                        "black"
                                                                    ],
                default_value="Regular", placeholder=_("Select a weight"), 
                alt=_(''), title=_("Select a font size")
            ) 
        %}
        <div class="separator"></div>
        <div class="buttons-of-style">
            {% for detail in buttons_of_style_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-style-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-text-alignment">
            {% for detail in buttons_of_text_alignment_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-text-alignment-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-blocks">
            {% for detail in buttons_of_blocks_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-block-") %}
            {% end %}
        </div>
        <div class="separator"></div>
        <div class="buttons-of-media">
            {% for detail in buttons_of_media_details %}
                {% module IconButton(icon_path=detail["icon_path"], key=f"editor-tools-bar-button-of-media-") %}
            {% end %}
        </div>
    </div>
    <div class="content">
        {% module TextWriter(article_content='') %}
    </div>
</div>