<div class="editable-dropdown-button" key={{key}}>
    <div class="field">
        <input type="text" placeholder="{{placeholder}}" value="{{default_value}}" />
        <button type="button">
            <img src="{{static_url(icon_path)}}" alt="{{alt}}" title={{title}}>
        </button>
    </div>
    <div class="dropdown-menu list-item">
        {% for item in items %}
            <div class="dropdown-item">
                <div>
                    {% if item.strip().lower()==default_value.strip().lower()%}
                        <div title="selected" class="checked"></div>
                    {% else %}
                        <div></div>
                    {% end %}
                    <span>{{ item }}</span> 
                </div>
            </div>
        {% end %}
    </div>
</div>