<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
        <link href="{{static_url('lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{static_url('css/article_writer.css')}}">
        <script src="{{static_url('lib/jquery/jquery-min.js')}}"></script>
    </head>
    <body>
        {% module EditorialHeader(author=current_author)%}
        <main>
            <section class="actions-bar">
                {% for button_description in  toolsbar_button_description %}
                    {% module LabeledIconButton(
                        button_description["icon_path"], 
                        button_description["key"],
                        on_click = button_description["on_click"],
                        button_name = button_description["button_name"],
                        title = button_description["title"],
                        alt = button_description["alt"]) 
                    %}
                {% end %}
                <button type="button" class="rounded-button bg-secondary-color fg-primary-color-dark margin-left-auto" onclick="{{ publish_button_details['on_click']}}"> {{  _(publish_button_details["name"]) }}</button>
            </section>
            <section class="article-header">
                <div class="article-title">
                    <div>
                        <span>{{_("Name")}}</span>
                        <span class="character-counter" >0/{{title_maxlength}}</span>
                    </div>
                    <input type="text" placeholder="{{title_placeholder}}" value="{{article.title}}" maxlength={{title_maxlength}} required/>
                </div>
                <div class="article-short-description">
                    <div>
                        <span>{{_("Short description")}}</span>
                        <span class="character-counter">0/{{description_maxlength}}</span>
                    </div>
                    <textarea placeholder="{{description_placeholder}}" maxlength={{description_maxlength}} required>
                        {{article.description}}
                    </textarea>
                </div>
            </section>
            <section class="editor-disposition">
                <div>
                    <span>{{_('Left paned visibility:')}}</span>
                    <div class="toogle-button">
                        <button 
                            type="button" 
                            class="fg-primary-color-dark {{['', 'bg-secondary-color'][show_hide_button_details[0]['is_active']]}}"
                            onclick="{{show_hide_button_details[0]['on_click']}}"
                        >
                            {{_(show_hide_button_details[0]['name'])}}
                        </button>
                        <button 
                            type="button" 
                            class="fg-primary-color-dark {{['', 'bg-secondary-color'][show_hide_button_details[1]['is_active']]}}"
                            onclick="{{show_hide_button_details[1]['on_click']}}"
                        >
                            {{_(show_hide_button_details[1]['name'])}}
                        </button>
                    </div>
                </div>
                <div>
                    {% for disposition_button_detail in disposition_button_details %}
                        {% module IconButton(
                                icon_path=disposition_button_detail['icon_path'], 
                                key=f"editor-disposition-{disposition_button_detail['key']}",
                                on_click=disposition_button_detail['on_click'],
                                title=disposition_button_detail['title'],
                                alt=disposition_button_detail['alt']
                            ) 
                        %}
                    {% end %}
                </div>
            </section>
            <section class="article-content-section">
                {% module ArticleReference(
                        key='article-reference-1', 
                        list_authors = article.authors,
                        list_categories = article.categories, 
                        list_tags = article.tags.split('&&&')
                    ) 
                %}
                <section class="article-content">
                    {% module  ArticleEditor(key='article-editor-key', content=article.content) %}
                    {% module  ArticleRenderer(key='article-renderer-key', content=article.content) %}
                </section>
            </section>
        </main>
        {% module EditorialFooter() %}
    </body>
    <script src="{{static_url('js/article_writer.js')}}">
    </script>
    <script src="{{static_url('lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script></script>
</html>