/* Colors */
$primary_color: #606C38;
$primary_color_dark: #283618;
$primary_color_light: #FEFAE0;
$secondary_color: #DDA15E;
$secondary_color_dark: #BC6C25;
$text_color_black: #000;
$text_color_white: #FFF;
$text_color_dark: #283618;
$text_color_light: #F4FCEB;
$input_color: #E5E5E5;

.bg-primary-color
{
    background-color: $primary_color;
}

.fg-primary-color
{
    color: $primary_color;
}

.bg-primary-color-dark
{
    background-color: $primary_color_dark;
}

.fg-primary-color-dark
{
    color: $primary_color_dark;
}

.bg-primary-color-light
{
    background-color: $primary_color_light;
}

.fg-primary-color-light
{
    color: $primary_color_light;
}


.bg-secondary-color
{
    background-color: $secondary_color;
}

.fg-secondary-color
{
    color: $secondary_color;
}

.bg-secondary-color-dark
{
    background-color: $secondary_color_dark;
}

.fg-secondary-color-dark
{
    color: $secondary_color_dark;
}

.margin-left-auto
{
    margin-left: auto;
}

.margin-right-auto
{
    margin-right: auto;
}

.margin-top-auto
{
    margin-top: auto;
}

.margin-bottom-auto
{
    margin-bottom: auto;
}

body{
    margin: 0;
}

button:hover
{
    background-color: rgba($color: #000000, $alpha: .2);
}

.rounded-button
{
    border-radius: 8px;
    padding: 8px 50px;
    border: none; 
    font-size: 14px;
    font-weight: 500;
}

input, select, textarea
{
    background-color: $input_color;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 12pt;
}

input:focus, select, textarea:focus
{
    outline: none;
}

.editorial-header
{
    padding: 0 26px;
}

main
{
    display: flex;
    flex-direction: column;
    margin: 40px 26px;

    > section
    {
        margin-bottom: 30px;
    }

    .actions-bar
    {
        display: flex;
        flex-direction: row;

        .labeled-icon-button
        {
            margin-right: 19px;

            button
            {
                width: 44px;
                height: 44px;
            }
        }

        .labeled-icon-button:last-child
        {
            margin-right: 0;
        }
    }

    .article-header
    {
        display: flex;
        flex-direction: column;
        padding-left: 25px;

        > div:first-child
        {
            margin-bottom: 27px;
        }

        > div 
        {
            display: flex;
            flex-direction: column;

            > div
            {
                margin-bottom: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span:first-child
                {
                    font-size: 18pt;
                    font-weight: 300;
                }

                span:last-child
                {
                    font-size: 12pt;
                    font-weight: 300;
                    height: fit-content;
                    align-self: flex-end;
                }
            }

            textarea
            {
                min-height: 90px;
                max-height: 90px;
            }
        } 

    }

    .editor-disposition
    {
        display: flex;
        flex-direction: row;
        
        >div:first-child
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-right: auto;

            span
            {
                font-size: 18px;
                margin-right: 10px;
                
                height: fit-content;
                align-self: center;
            }

            .toogle-button
            {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                button
                {
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    padding: 8px 18px;
                }

                button:first-child
                {
                    border-radius: 8px 0 0 8px;
                }

                button:last-child
                {
                    border-radius: 0 8px 8px 0;
                }
            }
        }

        >div:last-child
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // background-color: rgba($primary_color_dark, .8);
            // padding: 5px;

            .icon-button
            {
                width: 38px;
                height: 38px;

                padding: 5px 6px;
                padding-bottom: 3.5px;

                margin-right: 2px;
            }

            .icon-button:nth-child(5), .icon-button:nth-child(6)
            {
                padding: 6px 5px;
                padding-left: 3.5px;
            }

            .icon-button:last-child
            {
                margin-right: 0;
            }

            .icon-button:hover
            {
                background-color: rgba($color: $primary_color_light, $alpha: 0.1);
                border: 2px solid $secondary_color;
            }
        }
    }

    .article-content-section
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .article-reference
        {
            margin-right: 32px;
        }

        .article-content
        {
            display: flex;
            width: 100%;
        }
    }
}


.active-disposition-icon-button
{
    background-color: rgba($color: $primary_color_light, $alpha: 0.1) !important;
    border: 2px solid $secondary_color !important;
}


.unactive-disposition-icon-button
{
    background-color: transparent;
    border: none;
}