<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
        <link href="{{static_url('lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{static_url('css/editorial_home.css')}}">
        <link rel="stylesheet" href="{{static_url('css/labeled_frame_with_button.css')}}">
        <script src="{{static_url('lib/jquery/jquery-min.js')}}"></script>
    </head>
    <body>
        {% module EditorialHeader(author=current_author)%}
        <main>
            <section class="actions-bar">
                <div class="article-button">
                    {% for button_description in  toolsbar_articles_buttons_description %}
                        {% module LabeledIconButton(
                            button_description["icon_path"], 
                            button_description["key"],
                            on_click = button_description["on_click"],
                            button_name = button_description["button_name"],
                            title = button_description["title"],
                            alt = button_description["alt"]) 
                        %}
                    {% end %}
                </div>
                <div class="field-with-image search-bar">
                    <button>
                        <img src="{{static_url('images/search-icon-primary-dark.webp')}}" alt="">
                    </button>
                    <input type="search" placeholder="Search"/>
                </div>
                <div class="option-researcher">
                    <div class="field-with-image option-list-bar">
                        <input type="text" value="{{search_options[0].lower().capitalize()}}" disabled="true" list="authors-list"/>
                        <button type="button">
                            <img src="{{static_url('images/dropdown-icon.webp')}}" alt="" title="{{_('Click here to display the list of options')}}">
                        </button>
                    </div>
                    <div class="suggested-options-list dropdowm-menu">
                        {% for search_option in search_options %}
                            <div class="dropdowm-item">{{search_option.lower().capitalize()}}</div>
                        {% end %}
                    </div>
                </div>
                <div class="disposition-button">
                    {% for button_description in  toolsbar_dispositions_buttons_description %}
                        {% module LabeledIconButton(
                            button_description["icon_path"], 
                            button_description["key"],
                            on_click = button_description["on_click"],
                            button_name = "",
                            title = button_description["title"],
                            alt = button_description["alt"]) 
                        %}
                    {% end %}
                </div>
            </section>
            <section class="content-section">
                {% module ArticleReference(
                        key='article-reference-1', 
                        display_new_article_button = True,
                        list_authors = [],
                        list_categories = [], 
                        list_tags = [],
                        display_datetime_picker = True
                    ) 
                %}
                <section class="list-articles">
                    {% for index, article in enumerate(list_articles) %}
                        {% module ArticleFrame(key=f"article-frame-{index}", article=article) %}
                    {% end %}
                </section>
            </section>
        </main>
        {% module EditorialFooter() %}
    </body>
    <script src="{{static_url('js/editorial_home.js')}}"></script>
    <script src="{{static_url('lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</html>